*, html{
    font-family: 'Times New Roman', Times, sans-serif;
}

.container{
    text-align: center;
    margin-top: 5px;
}

textarea{
    background-color: lightyellow;
}

#list-prime{
    list-style-position: none;
}

.is-prime {
    color: #00E676;
    text-align: left;
}

.not-prime {
    color: #FF3D00;
    text-align: left;
}

.hidden{
    display: none;
}

#error-container {
    margin-top: 15px;
    background-color: #d87093
}

button{
    padding: 20px;
    background-color: #87fa96;
}


#student-info {
    list-style-type: none;
}

#student-info ol{
    display: inline;
    padding: 10px;
    position: relative;
    top: 150px;
}